<h3 style="margin-top: 1rem;">Гастрономическая карта</h3>

<div id="map" style="width:1000px; height: 500px; padding: 0; margin: 0;"></div>

<h4 style="margin-top: 1rem;">Легенда:</h4>

<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        let myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7
        }),

        objectManager = new ymaps.ObjectManager({
            clusterize: true,
            gridSize: 32,
            clusterDisableClickZoom: true
        });

        //objectManager.objects.options.set('preset', 'islands#greenDotIcon');
        objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
        myMap.geoObjects.add(objectManager);

        $.ajax({
            url: "dataMap.json"
        }).done(function(data) {
            objectManager.add(data);
        });
    }
</script>
