.product {
    margin-bottom: 1rem;
}
.product label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: whitesmoke;
    padding: 1rem;
}
.product i {
    z-index: 2;
}

.dropdown-menu {         
    max-height: 200px;
    overflow-y: auto;
}
